@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-bg: #121212;
  --color-fg: #ffffff;
  --color-accent: #2279db;
  --color-on-accent: #090909;
  --color-error: #ef5350;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Space Mono', 'Segoe UI', 'Ubuntu', 'Source Sans Pro', 'monospace';
  box-sizing: border-box;
}

.app {
  text-align: center;
  min-height: 100vh;
}

main {
  --vertical-margin: 1.5em;

  margin-top: var(--vertical-margin);
  margin-bottom: var(--vertical-margin);
}

.container, header, footer {
  padding-left: 2em;
  padding-right: 2em;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
}

.persistent-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 2;
}

.logout-btn {
  /* height: 50px!important; */
  /* width: 100px!important; */
  align-self: flex-end;
}

input.styled-input {
  --vertical-padding: 0.5em;
  --horizontal-padding: 1em;

  width: calc(100% - (var(--horizontal-padding) * 2));
  padding: var(--vertical-padding) var(--horizontal-padding);
  font: inherit;
  color: var(--color-fg);
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 0.5em;
  transition: all 250ms ease;
}

input.styled-input:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

input.styled-input:focus {
  border-color: var(--color-accent);
  box-shadow: 0 0 1.5em rgba(34, 121, 219, 0.25);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* button */
.todo-list-item-button {
  --action-button-size: 2.5em;

  cursor: pointer;
  height: 50px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  font: inherit;
  color: var(--color-fg);
  border: none;
  outline: none;
  border-radius: 0.3rem;
  transition: all 250ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list-item-button:focus-visible {
  transform: scale(1.1);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.3);
}

.todo-list-item-button:hover {
  opacity: 0.9;
}

.todo-list-item-button:active {
  opacity: 0.7;
}
